.calculator{
    /* background-color: yellowgreen; */
    width: 27vw;
    margin: auto;
    
    padding-bottom: 1vw;
}
@media screen and (max-width: 480px){
    .calculator{
        width: 100%;
        margin: auto;
        height: 254px;
    }
    
}